<p style="color: green"><%= notice %></p>
<h1>Welcome to the Vegan Meal Planner!</h1>
<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-sm">
        <%= render recipe %>
      </div>
    </div>
  </div>
<% end %>
