<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= user.user_email %>
  </p>

  <p>
    <strong>User password:</strong>
    <%= user.user_password %>
  </p>

</div>
